.body2,
.createpassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.body2 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
}
.createpassword {
  position: relative;
  background-color: var(--background-light-gray);
  width: 100%;
  height: 720px;
}
