.forgot-your-password,
.keylance-password-manager {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.forgot-your-password {
  font-size: inherit;
  line-height: 120%;
  font-family: inherit;
  height: 73px;
}
.keylance-password-manager {
  font-size: var(--font-size-2xl);
  text-align: justify;
  height: 117px;
}
.buttongroup,
.introsectiontext,
.leftintrosection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.buttongroup,
.leftintrosection {
  flex-direction: row;
  justify-content: flex-start;
}
.leftintrosection {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-lg);
  justify-content: center;
  gap: var(--gap-2xl);
}
.introsection,
.rightintrosection-icon {
  align-self: stretch;
  flex-shrink: 0;
  overflow: hidden;
}
.rightintrosection-icon {
  max-height: 100%;
  width: 560px;
  object-fit: cover;
}
.introsection {
  height: 672px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--heading-heading-5-bold-size);
}
.love {
  color: var(--background-red);
}
.made-with-love-container {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}
.abstract-indian-flag-png-free {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 179px;
  flex-shrink: 0;
  object-fit: cover;
}
.madeinindiainfographic {
  width: 482px;
  height: 239px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.madeinindiasection,
.we-store-data {
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
}
.madeinindiasection {
  height: 720px;
  flex-direction: column;
  padding: 131px 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(../../public/madeinindiasection@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.we-store-data {
  position: relative;
  line-height: 120%;
  align-items: center;
  justify-content: center;
  height: 202px;
  backdrop-filter: blur(10px);
}
.codiconworkspace-trusted {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  overflow: hidden;
}
.datacenterinfo {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.indiamap-icon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  background-size: contain;
  background-position: center;
}
.indiamapsection {
  align-self: stretch;
  height: 720px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 44px 75px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xl);
}
.buttongroup1 {
  width: 992px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-4xl);
}
.buttongroup1,
.buttongroup2,
.buttonmesh {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.buttongroup2 {
  width: 992px;
  flex-direction: row;
  padding: var(--padding-3xs) 256px;
}
.buttonmesh {
  align-self: stretch;
  height: 168px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
}
.initialscreen-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.second,
.time-child {
  position: relative;
  flex-shrink: 0;
}
.second {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 48px;
}
.time-child {
  width: 101.5px;
  height: 22.09px;
}
.loginfasterinfographic,
.time {
  display: flex;
  align-items: center;
  justify-content: center;
}
.time {
  flex-direction: column;
  gap: var(--gap-xs);
}
.loginfasterinfographic {
  flex-direction: row;
  gap: 25px;
}
.landing-page,
.loginfastersection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginfastersection {
  align-self: stretch;
  background-color: var(--background-light-gray);
  height: 720px;
  flex-shrink: 0;
  padding: var(--padding-3xl) 144px;
  box-sizing: border-box;
  gap: 96px;
  font-size: 22.66px;
  font-family: var(--font-source-sans-pro);
}
.landing-page {
  position: relative;
  background-color: var(--background-light1);
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: var(--heading-heading-4-bold-size);
  color: var(--background-dark1);
  font-family: var(--label-large-medium1);
}
