.iconoirprofile-circle {
  position: relative;
  width: 176px;
  height: 176px;
  flex-shrink: 0;
  overflow: hidden;
}
.profileheader,
.welcome-leonardo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-leonardo {
  position: relative;
  line-height: 120%;
  width: 444px;
  height: 77px;
  flex-shrink: 0;
}
.profileheader {
  flex-direction: column;
}
.rightpanel5 {
  align-self: stretch;
  flex: 1;
  background-color: var(--background-light1);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-5xl);
  gap: var(--gap-2xl);
  z-index: 0;
}
.apphomeinner7,
.rightpanel5,
.settings-personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.apphomeinner7 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
}
.settings-personal-info {
  position: relative;
  background-color: var(--background-light-gray);
  width: 100%;
  height: 720px;
  flex-direction: column;
  text-align: center;
  font-size: var(--heading-heading-5-bold-size);
  color: var(--background-dark1);
  font-family: var(--label-large-medium1);
}
