.card {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--label-medium-medium1-size);
  border-radius: var(--br-sm);
  border: 0.5px solid var(--background-dark1);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--background-dark1);
  font-family: var(--label-large-medium1);
}

.cardHeader {
  align-self: stretch;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: var(--padding-3xs);
}

.cardHeaderData {
  flex: 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-xs);
  align-items: flex-start;
  justify-content: center;
}

.cardLabel,
.cardIcon,
.cardLabel2 {
  position: relative;
  flex-shrink: 0;
}
.cardIcon {
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.cardLabel,
.cardLabel2 {
  display: flex;
  align-items: center;
}
.cardLabel2 {
  font-size: var(--label-medium-medium1-size);
  letter-spacing: 0.03em;
}

.cardBody{
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--label-medium-medium1-size);
}