.download-account-recovery,
.note-copy-this {
  margin: 0;
  position: relative;
  font-weight: 700;
  font-family: var(--label-large-medium1);
  color: var(--background-dark1);
}
.download-account-recovery {
  font-size: var(--heading-heading-4-bold-size);
  line-height: 120%;
  text-align: center;
}
.note-copy-this {
  font-size: var(--label-medium-medium1-size);
  text-align: left;
  display: flex;
  align-items: center;
  width: 538px;
  height: 78px;
  flex-shrink: 0;
}
.buttongroup4 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.inputmodalbox {
  border-radius: var(--br-lg);
  background-color: var(--background-light1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-4xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xl);
}
