.label33 {
  cursor: pointer;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 524px;
  height: 14px;
  flex-shrink: 0;
}
.inputbox6,
.inputboxinner2 {
  border-radius: var(--br-sm);
  font-family: var(--label-large-medium1);
}
.inputboxinner2 {
  border: 0.2px solid var(--background-dark1);
  display: block;
  font-size: var(--font-size-4xl);
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
  width: 524px;
  height: 28px;
  flex-shrink: 0;
}
.inputbox6 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-6xs) var(--padding-4xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--background-dark1);
}
