.subtract-icon1 {
  position: relative;
  width: 71.94px;
  height: 71.94px;
  flex-shrink: 0;
  z-index: 0;
}
.betalogo1,
.keylance1 {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.keylance1 {
  position: absolute;
  margin: 0 !important;
  top: 22.48px;
  left: 107.91px;
  width: 503.57px;
  height: 58.45px;
  z-index: 1;
}
.betalogo1 {
  width: 100.26px;
  height: 107.91px;
  flex-direction: row;
  padding: var(--padding-md);
  box-sizing: border-box;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-md);
}
.login-faster,
.logo {
  display: flex;
  justify-content: center;
}
.login-faster {
  position: relative;
  font-size: var(--font-size-9xl);
  letter-spacing: 0.3em;
  font-weight: 700;
  font-family: var(--font-source-sans-pro);
  text-align: center;
  align-items: center;
  width: 485.35px;
}
.logo {
  flex-direction: column;
  align-items: flex-start;
}
.support,
.supportgroup {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.support {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  justify-content: center;
  width: 231px;
  height: 29px;
}
.supportgroup {
  width: 261px;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-us,
.vector-icon {
  position: relative;
  flex-shrink: 0;
}
.contact-us {
  align-self: stretch;
  line-height: 140%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20.38px;
}
.vector-icon {
  width: 36.92px;
  height: 30px;
}
.twittericon {
  text-decoration: none;
  width: 40px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vector-icon1 {
  position: relative;
  width: 33.71px;
  height: 33.63px;
  flex-shrink: 0;
}
.facebookicon {
  text-decoration: none;
  width: 40px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-4xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.vector-icon2 {
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.instagramicon {
  text-decoration: none;
  width: 40px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.buttongroup3,
.instagramicon,
.socialmediagroup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttongroup3 {
  flex-direction: row;
  gap: var(--gap-sm);
}
.socialmediagroup {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
}
.footer,
.rightfooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightfooter {
  width: 554px;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--gap-2xl);
  opacity: 0.8;
  text-align: center;
  font-size: var(--label-xlarge-medium1-size);
  font-family: var(--label-large-medium1);
}
.footer {
  align-self: stretch;
  padding: var(--padding-2xl);
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--background-dark1);
  font-family: var(--font-dm-serif-display);
}
