.menu1 {
  background-color: var(--background-light1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 4px 0 4px rgba(0, 0, 0, 0.25),
    -4px 0 4px rgba(0, 0, 0, 0.25);
  width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
