.keylance2,
.subtract-icon2 {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 28px;
  height: 28px;
}
.keylance2 {
  left: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
}
.betalogo2,
.iconxsmall2 {
  position: relative;
  width: 200px;
  height: 48px;
  flex-shrink: 0;
}
.iconxsmall2 {
  width: 24px;
  height: 24px;
  object-fit: cover;
  display: none;
}
.label2 {
  position: relative;
  font-size: var(--label-medium-medium1-size);
  line-height: 150%;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--label-large-medium1);
  color: var(--background-light1);
  text-align: center;
}
.buttonroot2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-sm);
  background-color: var(--background-dark1);
  border-radius: var(--br-md);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  justify-content: center;
  gap: var(--gap-xs);
}
.buttonderivativebase2,
.buttonroot2,
.leftnavbar1,
.menuitems1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonderivativebase2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  justify-content: flex-start;
}
.leftnavbar1,
.menuitems1 {
  justify-content: center;
  gap: var(--gap-sm);
}
.leftnavbar1 {
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.label6 {
  position: relative;
  font-size: var(--label-medium-medium1-size);
  line-height: 150%;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--label-large-medium1);
  color: var(--background-dark1);
  text-align: center;
}
.buttonderivativebase6,
.buttonroot6 {
  flex-direction: row;
  align-items: center;
}
.buttonroot6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-sm);
  background-color: var(--background-light1);
  border-radius: var(--br-md);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  gap: var(--gap-xs);
}
.buttonderivativebase6 {
  overflow: hidden;
  display: none;
  justify-content: flex-start;
}
.navbar1,
.rightnavbar1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightnavbar1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-3xs);
  background-color: transparent;
  justify-content: center;
  gap: var(--gap-xs);
}
.navbar1 {
  align-self: stretch;
  background-color: var(--background-dark1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--background-light1);
  font-family: var(--font-dm-serif-display);
}
