.keylance,
.subtract-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 28px;
  height: 28px;
}
.keylance {
  left: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
}
.betalogo {
  position: relative;
  width: 200px;
  height: 48px;
  flex-shrink: 0;
}
.menuitems {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-sm);
}
.leftnavbar {
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.leftnavbar,
.navbar,
.rightnavbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightnavbar {
  padding: 0 var(--padding-3xs);
  justify-content: center;
  gap: var(--gap-xs);
}
.navbar {
  align-self: stretch;
  background-color: var(--background-dark1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--background-light1);
  font-family: var(--font-dm-serif-display);
}
@media screen and (max-width: 1200px) {
  .menuitems {
    align-items: center;
    justify-content: flex-start;
    padding-left: 7%;
    box-sizing: border-box;
  }
}
