.icon-child {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 58px;
  height: 59px;
  object-fit: cover;
}
.app-label2,
.icon3 {
  position: relative;
  flex-shrink: 0;
}
.icon3 {
  width: 70px;
  height: 71px;
  overflow: hidden;
}
.app-label2 {
  cursor: pointer;
  font-size: var(--label-medium-medium1-size);
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: var(--label-large-medium1);
  color: var(--background-dark1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 23px;
}
.data2,
.passworditem1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data2 {
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-xs);
}
.passworditem1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--background-light1);
  flex-direction: row;
}
