.appName,
.icon2 {
  position: relative;
  flex-shrink: 0;
  align-self: center;
}
.icon2 {
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: cover;
}

.passwordItem {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.passwordData {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: center;
  padding: var(--padding-3xs) var(--padding-3xs);
  flex-grow: 0;
  overflow-x: hidden;
}
.passwordItem {
  border: 0;
  padding: var(--padding-3xs) var(--padding-3xs) ;
  cursor: pointer;
  background-color: var(--background-light1);
  flex-direction: row;
  gap: var(--gap-2xs);
}
.passwordItem:hover {
  background-color: var(--background-light-gray);
}


.appName {
  cursor: pointer;
  font-size: var(--font-size-xl);
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: var(--label-large-medium1);
  color: var(--background-dark1);
  width: 230px;
  height: 23px;
  flex: 0 0;
}
.userName {
  position: relative;
  flex: 0 0;
  width: 230px;
  height: 23px;
  font-size: var(--label-medium-medium1-size);
  letter-spacing: 0.03em;
}

