.inputbox5 {
  border: 0;
  display: flex;
  font-family: var(--label-large-medium1);
  font-size: var(--font-size-4xl);
  background-color: transparent;
  border-radius: var(--br-sm);
  width: 325px;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
