.card-label,
.cardheader3 {
  display: flex;
  align-items: center;
}
.card-label {
  cursor: pointer;
  flex: 1;
  position: relative;
  font-weight: 700;
  height: 12px;
}
.cardheader3 {
  align-self: stretch;
  height: 28px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
}
.amet-minim-mollit3,
.label38 {
  position: relative;
  letter-spacing: 0.03em;
}
.label38 {
  display: flex;
  align-items: center;
  width: 144px;
  flex-shrink: 0;
}
.amet-minim-mollit3 {
  flex: 1;
}
.iconxsmall31 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.label39 {
  position: relative;
  font-size: var(--label-medium-medium1-size);
  line-height: 150%;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--label-large-medium1);
  color: var(--background-blue1);
  text-align: center;
}
.buttonderivativebase31,
.buttonroot33 {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonroot33 {
  padding: var(--padding-3xs) var(--padding-sm);
  border-radius: var(--br-md);
  justify-content: center;
  gap: var(--gap-xs);
}
.buttonderivativebase31 {
  padding: 0;
  justify-content: flex-start;
}
.card3,
.cardbody3,
.carditem3 {
  align-self: stretch;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.carditem3 {
  display: none;
  flex-direction: row;
  padding: var(--padding-3xs);
  gap: var(--gap-2xl);
}
.card3,
.cardbody3 {
  display: flex;
  flex-direction: column;
}
.cardbody3 {
  flex: 1;
  font-size: var(--label-medium-medium1-size);
}
.card3 {
  border-radius: var(--br-sm);
  border: 0.5px solid var(--background-dark1);
  box-sizing: border-box;
  height: 128px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--background-dark1);
  font-family: var(--label-large-medium1);
}
