.leftpanel1 {
  align-self: stretch;
  background-color: var(--background-light1);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-sm);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xl);
  z-index: 1;
}
