.carditem4,
.label40 {
  display: flex;
  align-items: center;
}
.label40 {
  cursor: pointer;
  position: relative;
  letter-spacing: 0.03em;
  font-weight: 700;
  width: 144px;
  flex-shrink: 0;
}
.carditem4 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs);
  justify-content: space-between;
  text-align: left;
  font-size: var(--label-medium-medium1-size);
  color: var(--background-dark1);
  font-family: var(--label-large-medium1);
}
