.app-label3,
.username3 {
  position: relative;
  display: flex;
  align-items: center;
  width: 230px;
  height: 23px;
  flex-shrink: 0;
}
.username3 {
  font-size: var(--label-medium-medium1-size);
  letter-spacing: 0.03em;
}
.cardheaderinner1,
.data3 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.data3 {
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-xs);
}
.cardheaderinner1 {
  flex: 1;
  background-color: var(--background-light1);
  flex-direction: row;
}
.card1,
.cardbody1,
.cardheader1 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardheader1 {
  height: 68px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.card1,
.cardbody1 {
  overflow: hidden;
  flex-direction: column;
  font-size: var(--label-medium-medium1-size);
}
.card1 {
  border-radius: var(--br-sm);
  border: 0.5px solid var(--background-dark1);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--background-dark1);
  font-family: var(--label-large-medium1);
}
