/* width */
::-webkit-scrollbar {
  scroll-behavior: smooth !important;
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-100 rounded-full;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
  border: 0.14rem solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
  background-clip: content-box;
}
